pandas
#mysql-python
Flask-Caching
click==6.6
Flask
flask-cors
gunicorn==19.6.0
itsdangerous==0.24
Jinja2
MarkupSafe==0.23
Werkzeug
wheel==0.38.1
#psycopg2
requests
xmltodict
flask-sqlalchemy
flask-mysql
Cython
numpy
google-api-python-client
httplib2
